language: node_js
node_js:
  - '4.2.2'
before_script:
  - 'export CHROME_BIN=chromium-browser'
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
  - 'npm install -g bower karma grunt-cli jshint codecov codeclimate-test-reporter dot coveralls'
  - 'npm install' # install npm packages
  - 'bower install' # install bower packages

after_script:
  - 'grunt default'
  - 'codecov coverage/cobertura/cobertura-coverage.xml'
  - 'codeclimate-test-reporter < coverage/lcov/lcov.info'
  - 'coveralls < coverage/lcov/lcov.info'
